<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='w3.css') }}">
    <title>Tech</title>
<!--  # url_for has two forms:
      # 1.url_for('view_name')
      # 2.url_for('directory_name_relative_to_app.py', filename='base.html') -->
    {# Browser tab icon #}
    <link rel="icon" href="{{ url_for('static', filename='images/icon.png') }}">
</head>

<body style="background-image: url('{{ url_for('static', filename='images/bgimage.png') }}');background-repeat:no-repeat;background-size:cover">

    {% block content %}
        {# if this template is imported in other templates, the content in importing templates should go here#}
    {% endblock %}
</body>
</html>
